@import "tailwindcss";

.bg-all{
    background-image: url(./assets/background.png);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}